In [25]:
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
homeprice=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/2_linear_reg_multivariate/homeprices.csv')

In [4]:
homeprice

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [15]:
# To fix missing values we will take median of the bedrooms 
import math
bedroom=math.floor(homeprice.bedrooms.median())
homeprice.bedrooms=homeprice.bedrooms.fillna(bedroom)
homeprice

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

### Calculating regression

In [24]:
regres=linear_model.LinearRegression()
regres.fit(homeprice[['area','bedrooms','age']].values,homeprice.price)
y=regres.predict(homeprice[['area','bedrooms','age']].values)
y

array([518217.63297611, 602590.07937407, 615307.4140366 , 597962.89583192,
       760663.42675457, 795258.55102673])

## PLotting in the graph

In [30]:
#plt.scatter(homeprice[['area','bedrooms','age']].values,homeprice.price)